<!DOCTYPE html>
<html>
  <head>
    <title>CSV Report Generator</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <header>
      <h1>CSV Report Generator</h1>
    </header>

    <form method="POST" action="/upload_json">
      <textarea rows = "10" cols="60" name="json"></textarea><br>
      <input type="submit" value="Submit"/>
      <!-- <form enctype='application/json'>
        <input type='file' name='sales_report.json' multiple>
      </form> -->

    </form>
    <p class="csv"><%- data.replace(/\n/g, '<br>')%></p>

  </body>
</html>

